@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* テキスト色を白に設定 */
  --background-start-rgb: 34, 139, 34; /* ダークグリーン */
  --background-end-rgb: 0, 100, 0; /* 深い緑 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-end-rgb)),
      rgb(var(--background-start-rgb))
    );
  font-family: unset;
  font-weight: 700; /* 太文字に設定 */
  background-color: #000; /* 背景色を黒に設定 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
